<h2>Login</h2>
<form method="post">
    <div>
        <label>Username:</label>
        <input name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">Login</button>
    <span asp-validation-summary="All"></span>
</form>
