@{
    ViewData["Title"] = "Labs";
}

<h1>Виберіть лабораторну</h1>
<div>
    <a href="/Labs/Lab1" class="btn btn-primary">Лабораторна 1</a>
    <a href="/Labs/Lab2" class="btn btn-primary">Лабораторна 2</a>
    <a href="/Labs/Lab3" class="btn btn-primary">Лабораторна 3</a>
</div>
<p>@ViewBag.Message</p>
