@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>В цьому веб застосунку є можливість:</p>
    <ul>
        <li>Зареєструватись та аутентифікуватись.</li>
        <li>Запустити лабораторні.</li>
    </ul>
    <p>Кроки:</p>
    <ol>
        <li>Зареєструйтесь використавши кнопку "Go to Register".</li>
        <li>Увійдіть в систему після реєстрації.</li>
        <li>Запускайте лабораторні.</li>
    </ol>
    <p>Лабораторні вимагають шлях до файлу інпуту (типу "C:\projects\INPUT.TXT") та шлях до створеного аутпуту (типу "C:\projects").</p>
    <div>
        <a href="/Auth/Register" class="btn btn-primary">Go to Register</a>
        <a href="/Auth/Login" class="btn btn-primary">Go to Login</a>
        <a href="/Labs/Index" class="btn btn-primary">Go to Labs</a>
    </div>
</div>


